@import "./_variables";

@font-face {
  font-family: "Roboto Mono";
  font-weight: 100;
  src: url('../fonts/robotomono-light-webfont.woff2') format('woff2'),
       url('../fonts/robotomono-light-webfont.woff') format('woff'),
       url('../fonts/robotomono-light-webfont.ttf') format('truetype');
}

/**
 * Elements
 *
 */
html {
  font-family: 'Roboto Mono', Consolas, Menlo, 'Andale Mono', monospace;
  font-weight: 100;
  color: $dark;
  background-color: $bright;
}

body {
  margin: 0 $margin $margin;
  max-width: $width;
  word-break: break-word;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  letter-spacing: -0.03125em;
}

a {
  color: inherit;
  text-decoration: none;
}

p a {
  text-decoration: underline;
}

.frame, pre {
  max-width: 100%;
  border: $border;
  box-sizing: border-box;
}

pre {
  overflow: auto;
  padding: ($margin/2);
}

svg {
  fill: $dark;
}

/**
 * Generic classes
 *
 */
.diff, .tag {
  display: inline-block;
  padding: .25em;
}

.diff {
  background-color: $dark;
  color: $bright;
}

.tag {
  font-size: .75em;
  margin-top: .5rem;
  border: 1px solid currentColor;
}

a.diff {
  text-decoration: none;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
}

.condensed {
  display: inline-block;
  margin-top: .5rem;
  margin-bottom: .5rem;
  & > * {
    margin: 0;
  }
  & > * + * {
    margin-top: .25rem;
  }
}

.float-container:after {
  content: "";
  display: block;
  clear: both;
}

.right {
  float: right;
}

/**
 * Components
 *
 */
// Header
header {
  padding: (2*$margin) $margin $margin;
  margin-bottom: $margin;
  background: $dark;
  color: $bright;
}

.header-logo {
  height: 3rem;
  width: 3rem;
  fill: $bright;
  svg {
    fill: $bright;
  }
}

// Post body
.wrapper img {
  width: 100%;
}

.headline {
  border-bottom: $border;
  padding: ($margin/2) 0;
  margin: $margin 0;
  & > * {
    margin: 0;
  }
}

.caption {
  margin-top: .25em;
  font-style: italic;
}

.bloc + .bloc {
  margin-top: $margin;
}

.post + .post {
  margin-top: 3rem;
}

blockquote {
  margin: $margin 0;
  border-left: $border;
  padding-left: $margin;
}
.quote {
  font-family: Georgia, serif;
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  letter-spacing: -0.0625em;
  line-height: 0.875;
}

// Links
.links {
  border-top: $border;
  padding-top: $margin;
  &:empty {
    display: none;
  }
}

.link {
  margin-bottom: $margin;
  & > .icon {
    float: left;
    width: 2rem;
    height: 2rem;
  }
  & > div {
    margin-left: 2.5rem;
  }
  p {
    margin: 0;
  }
  .link-description {
    font-size: .75em;
    word-break: break-word;
  }
}

// Footer
footer {
  border-top: $border;
  padding-top: $margin;
}

.footer-logo {
  height: 2.5rem;
  width: 2.5rem;
}

.footer-links {
  text-align: center;
  & > * {
    margin: .25rem;
  }
}

@media (min-width: 680px) {
  footer > * {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    & + * {
      margin-left: 4%;
    }
  }
  .quote {
    font-size: 4rem;
  }
}
