@import "./_variables";

.project-box {
  margin-bottom: $margin;
  &-main {
    margin-bottom: $margin;
    padding: $margin/2;
    background-color: currentColor;
    &-content {
      color: $bright;
    }
  }
}


@media (min-width: 680px) {
  .project-box {
    a:after {
      content: '';
      clear: both;
      display: block;
    }
    &-content {
      float: right;
      margin-top: 0;
    }
    &-picture {
      float: left;
      background-color: currentColor;
     }
    &-content, &-picture {
      width: calc(50% - #{$margin / 2})
    }
    &-picture.small {
      width: calc(45% - #{$margin / 2})
    }
    &-content.small {
      width: calc(55% - #{$margin / 2})
    }
  }

}
